.grid-container {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: auto auto auto;
  padding: 10px 0 50px 0;

}

.keys-grid {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: auto;
  padding: 10px 0 50px 0;

}

.quick-link-grid {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: auto auto;
  padding: 10px 0 10px 0;

}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

.quick-link-grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

.grid-item h5 {
    font-size: 20px;
}

.grid-item h6 {
    padding-top: 10px;
    font-size: 15px;
}

.grid-item p {
    padding-top: 10px;
    font-size: 12px;
}


@media(max-width:768px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
  .quick-link-grid {
    grid-template-columns: auto auto;
  }
}

@media(max-width:500px) {
	.grid-container {
    grid-template-columns: auto;
  }
  .quick-link-grid {
    grid-template-columns: auto;
  }
}

@media(max-width:280px) {
  .grid-item h5 {
    font-size: 16px;
  }
  .grid-item h6 {
    font-size: 12px;
  }
  .grid-item p {
    font-size: 10px;
  }
}