body {
    background-color: #fff;
    background: linear-gradient(to top right, #ffffff 0%, #bad3ff 100%);
    color: rgb(0, 0, 0);
}

body a {
    color: rgb(0, 0, 0);
}

body p {
	color: rgb(0, 0, 0);
}

body h6 {
    color: rgb(0, 0, 0);
}

.banner {
    background-image: url(../images/banner.svg);
    background-color:rgba(255, 255, 255, 0);
    background-repeat:no-repeat;
    
}

#mode-toggler {
    border: none;
    color: #fff;
    background-color: rgb(48, 48, 48);
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(230, 230, 230, 04);
    cursor: pointer;
    outline: none;
    border: 2px solid #000;
}

#mode-toggler:active {
    box-shadow: inset 6px 6px 10px 0 rgba(168, 168, 168, 0.2),
    inset -6px -6px 10px 0 rgba(167, 167, 167, 0.5);
}

.typewrite > .wrap { 
    border-right: 0.08em solid #000;
    color: #000;
    overflow:auto;
}

.ban-head h2 {
	color: rgb(0, 0, 0);
}

.ban-head h1 {
	color: rgb(0, 0, 0);
}

.ban-head .spaced-title {
	color: rgb(0, 0, 0);
}

.ban-head span {
	color: rgb(0, 0, 0);
}

.about-me h3 {	
	color: rgb(0, 0, 0);
}

#workexperience h2 {
	color: rgb(0, 0, 0);
}

.my-projects h3 {
	color: rgb(0, 0, 0);
}

.grid-item {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

.project-title {
    color: rgb(0, 0, 0);
}

.main-section {
	background: rgba(255, 255, 255, 0);
}

.my-profile-pic {
    border: 0.5px solid rgb(60, 60, 60);
}

.agileinfo-social-grids ul li a {
	color: #ffffff;
}

.agileinfo-social-grids ul li a i.fa.fa-twitter,
.agileinfo-social-grids ul li a i.fa.fa-instagram,
.agileinfo-social-grids ul li a i.fa.fa-github,
.agileinfo-social-grids ul li a i.fa.fa-medium {
	color: rgb(0, 0, 0);
	background: rgba(255, 255, 255, 0);
}

.agileinfo-social-grids ul li a i.fa.fa-twitter:hover {
	border: solid 2px #1da1f2;
	background: #1da1f2;
	color: #FFFFFF;
}

.agileinfo-social-grids ul li a i.fa.fa-instagram:hover {
	border: solid 2px #f26b78;
	background: #f26b78;
	color: #FFFFFF;
}

.agileinfo-social-grids ul li a i.fa.fa-github:hover {
	border: solid 2px #24292e;
	background: #24292e;
	color: #FFFFFF;
}

.agileinfo-social-grids ul li a i.fa.fa-medium:hover {
	border: solid 2px #000;
	background: #000;
	color: #FFFFFF;
}

.footer {
	background: rgba(255, 255, 255, 0);
}

.footer p {
    color: #000;
}